<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') -%>
    <div class="content">
        <h3><%=locals.title%></h3>
        <% if(locals.category_items.length > 0){%>
            <p><%=locals.category.name%> Category is not empty.</p>
        <%} else {%>
            <p><%=locals.category.name%></p>
            <p><%=locals.category.description%></p>
            <form method="POST" class="formContainer">
                <div class="buttonsContainer">
                    <button type="submit" class="submitButton">Confirm Delete</button>
                </div>
            </form>
        <%}%>
    </div>
  </body>
</html>