<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') -%>
    <div class="content">
      <h3>Welcome to your <%=locals.title%></h3>
      <div class="homeTexts">
        <p>This is the summary of products:</p>
        <p>Category Count: <%=locals.categories_count%></p>
        <p>Total Items Count: <%=locals.items_count%></p>
      </div>
      <div class="buttonsContainer">
        <a class="addButton" href="/category/category_form">Add Category</a>
        <a class="addButton" href="/item/item_form">Add Item</a>
      </div>
    </div>
  </body>
</html>
