<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') -%>
    <div class="content">
      <div class="item_detail_container">
        <div class="item_header">
          <h3><%=locals.title%></h3>
        </div>
        <div class="item_content">
          <div class="item_detail_image_container">
            <img class="item_image" src="<%=locals.item.imageUrl%>"/>
          </div>
          <div class="item_detail_text_container">
            <p class="item_detail_description"><%=locals.item.description%></p>
            <p >Category: <%=locals.item.category.name%></p>
            <p >$ <%=locals.item.price%></p>
            <p >Stock: <%=locals.item.stock%></p>
          </div>
        </div>
        <form method="POST" class="formContainer">
          <div class="buttonsContainer">
            <button type="submit" class="submitButton">Confirm Delete</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>