<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') -%>
    <div class="content">
      <div class="item_detail_container">
        <div class="item_header">
          <h3><%=locals.title%></h3>
        </div>
        <div class="item_content">
          <div class="item_detail_image_container">
            <img class="item_image" src="<%=locals.imageUrl%>"/>
          </div>
          <div class="item_detail_text_container">
            <p class="item_detail_description"><%=locals.description%></p>
            <p >Category: <%=locals.category.name%></p>
            <p >$ <%=locals.price%></p>
            <p >Stock: <%=locals.stock%></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>